body {
    background-color: black;
    font-family: 'Caveat', cursive, Arial, sans-serif; /* Apply Caveat font */
      text-align: center;
  }
  
#game-container {
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(255, 219, 110); /* Set the background color for the game area */
  border: 5px solid #ff8c00; /* Set the outer border color */
  border-radius: 10px;
  width: 800px;
  max-width: 90%;
  height: 500px; /* Set the height of the game area */
  display: flex;
  flex-direction: column;
}

#output {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0; /* Set the background color for the output area */
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1; 
  display: flex;
  align-items: flex-end; 
  text-align: left;
  overflow: hidden;
}

#input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
@font-face {
  font-family: 'Old London';
  src: url('https://fonts.gstatic.com/s/oldlondon/v8/5hRM5KiJcXClxjUWoKiZqK_Yr6SvxMEihwTjR1A22kU.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


#commands {
  margin-top: 20px;
}

#commands h2 {
  color: #333;
}

#commands ul {
  list-style-type: none;
  padding: 0;
}

#commands li {
  margin-bottom: 5px;
  font-weight: bold;
}

#commands-container {
  margin: 50px auto;
  padding: 6px;
  background-color: rgb(255, 219, 110);
  border: 5px solid #ff8c00;
  border-radius: 10px;
  width: 400px; /* Adjust width as needed */
  max-width: 90%;
}